:root {
  --title-color: #2d2f2f;
  --active-color: #8d4a00;
  --text-color: #5a5c5c;
  --header-color: rgba(255, 255, 255, 0.7);
  --hero-bg: radial-gradient(
    85.61% 61.6% at 50% 50%,
    rgba(253, 211, 77, 0.15) 0%,
    rgba(253, 211, 77, 0) 70%
  );
  --accent-color: #fdd34d;
  --main-color: #fff;
  --body-bg: #f7f3e8;
  --hero-color: #5c4900;
  --btn-txt: #fff0e7;
  --advantage-bg: #f6f6f6;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.container {
  width: 1212px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid red;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--header-color);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -1.2px;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: -0.35px;
  text-transform: uppercase;
}

.header-link:hover,
.header-link:focus {
  color: var(--active-color);
}

.header-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--active-color);
}

.header-button {
  color: var(--btn-txt);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border-radius: 9999px;
  background: var(--active-color);
  padding: 12px 32px;
}
/* Секція hero*/
.hero {
  padding-top: 160px;
  padding-bottom: 160px;
  background: var(--hero-bg);
}

.hero > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  color: var(--hero-color);
  font-family: "Be Vietnam Pro";
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 9999px;
  background: var(--accent-color);
  width: 200px;
  margin-bottom: 32px;
}
.hero-title {
  align-self: stretch;
  color: var(--title-color);
  font-family: "Space Grotesk";
  font-size: 120px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: -6.4px;
  width: 670px;
  margin-bottom: 32px;
}

.hero-span {
  background: linear-gradient(90deg, #8d4a00 0%, #fe973c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-descripto {
  color: var(--text-color);
  font-family: "Be Vietnam Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.33;
  width: 576px;
  margin-bottom: 32px;
}

.hero-list {
  display: flex;
  gap: 24px;
}

.hero-item:first-child {
  .hero-button {
    padding: 20px 40px;
    border-radius: 9999px;
    background: var(--active-color);
    color: var(--btn-txt);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}

.hero-item:last-child {
  .hero-button {
    padding: 21px 40px;
    border-radius: 9999px;
    border: 1px solid rgba(172, 173, 173, 0.2);
    background: var(--main-color);
    color: var(--title-color);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}

.hero-itemes {
  position: relative;
}

.hero-elem:first-child .hero-img {
  width: 480px;
  height: 605px;
  border-radius: 48px;
}

.hero-elem:first-child {
  transform: rotate(3deg);
}

.hero-elem:last-child .hero-img {
  position: absolute;
  left: -37.778px;
  bottom: -41.123px;
  border-radius: 48px;
}

.hero-elem:last-child {
  transform: rotate(-6deg);
}

/* Секція advantages */

.advantage {
  background-color: var(--advantage-bg);
  padding-top: 128px;
  padding-bottom: 128px;
}

.advantage .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantage-title {
  align-self: stretch;
  color: var(--title-color);
  font-family: "Space Grotesk";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -3px;
  margin-bottom: 39px;
}

.advantage-box {
  width: 550px;
}

.advantage-text {
  color: var(--text-color);
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.62;
  margin-bottom: 39px;
}

.advantage-span {
  color: var(--title-color);
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  border-bottom: 4px solid var(--accent-color);
}

/* .advantage-coment {
} */

.advantage-desc {
  color: var(--title-color);
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  display: flex;
  align-items: center;
}

.advantage-desc::before {
  content: "";
  display: block;
  margin-right: 32px;
  width: 8px;
  height: 113px;
  background-color: var(--active-color);
}

.advantages-list {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.advantages-description {
  color: var(--title-color);
  font-family: "Space Grotesk";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
}

.advantages-description::before {
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background: var(--accent-color);
}

.advantages-img {
  width: 552px;
  height: 736px;
  border-radius: 48px;
}

.advantage-wrap {
  position: relative;
}

.advantage-wrap::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  position: absolute;
  right: -40px;
  top: -40px;
  border-radius: 9999px;
  background: rgba(253, 211, 77, 0.2);
  filter: blur(32px);
}

.advantage-wrap::after {
  content: "";
  display: block;
  width: 240px;
  height: 240px;
  position: absolute;
  left: -40px;
  bottom: -40px;
  border-radius: 9999px;
  background: rgba(254, 151, 60, 0.1);
  filter: blur(32px);
}
/* Секція gallary */

.gallery {
  padding-top: 128px;
  padding-bottom: 128px;
}

.gallery-title {
  color: var(--title-color);
  font-family: "Space Grotesk";
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -3px;
  margin-bottom: 16px;
}

.gallery-text {
  color: var(--text-color);
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
}
*/ .gallery-link {
  color: var(--active-color);
  font-family: "Space Grotesk";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.gallery-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 64px;
}

.gallery-item {
  border-radius: 48px;
  overflow: hidden;
}

.gallery-item:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
  border-radius: 48px;
}

.gallery-item:nth-child(2) {
  grid-column: 3/5;
  grid-row: 1/2;
  border-radius: 48px;
}

/* Секція table */

.table-table {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: var(--advantage-bg);
  border-collapse: collapse;
}

.table-title {
  color: var(--title-color);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -3px;
  margin-bottom: 16px;
}

.table-text {
  color: var(--text-color);
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 515px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.table-table {
  background-color: var(--main-color);
  border-radius: 40px;
  width: 100%;
  overflow: hidden;
}

.table-head {
  background-color: #f0f1f1;
}

.table-list th {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  text-align: left;
}

.table-table td {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.table-status {
  padding: 8px 16px;
  border-radius: 9999px;
  background: #e1e3e3;
  display: flex;
  justify-content: center;
  width: fit-content;
  text-transform: uppercase;
  font-family: "Be Vietnam Pro";
  color: #2D2F2F;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.orange {
  background: #FE973C;
}

.yellow {
  background: #FECF36;
}

.table-table tr:hover {
  background: rgba(253, 211, 77, 0.10);
}

.table-table tr td {
  border-bottom: 1px solid #E7E8E8;
}

/* Секція join */

.join{
  padding-top: 128px;
  padding-bottom: 128px;
}

.join .container{
border-radius: 48px;
background-color: linear-gradient(135deg, #8D4A00 0%, #7C4000 100%);
padding-top: 80px;
padding-bottom: 86px;
padding-left: 80px;
padding-right: 80px;
display: flex;
align-items: center;
justify-content: space-between;
}

.join-title{
color: var(--title-color);
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 1;
letter-spacing: -3px;
margin-bottom: 24px;
width: 450px;

}

.join-text{
color: var(--text-color);
font-family: "Be Vietnam Pro";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 29.25px;
width: 456px;
margin-bottom: 24px;
}

.join-list{
  display: flex;
}

.join-icon{
  width: 36px;
  height: 36px;
}

.join-item{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FE973C;
}

.join-item:nth-child(2){
  transform: translateX(-10px);
  background-color: white;
}

.join-item:nth-child(3){
  transform: translateX(-20px);
  background-color: white;
}

.join-box{
  display: flex;
  align-items: center;
  gap: 16px;
}

.join-members{
color: var(--text-color);
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.42;
}

.join-form{
  width: 456px;
  font-family: "Be Vietnam Pro";
}

.join-lable{
  display: block;
  margin-bottom: 50px;
  color: var(--text-color);
  font-size: 9.5px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.join-input{
  display: block;
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 30px;
  background-color: rgba(207, 207, 207, 0.509);
  padding-left: 28px;
  margin-bottom: 24px;
  font-size: 14px;
  color: var(--text-color);
  }

.join-btn{
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 30px;
  background-color: rgb(52, 51, 51);
  color: white;
  margin-bottom: 18px;
  font-size: 12px;
  font-weight: 700;
}

.join-desc{
  text-align: center;
  color: var(--text-color);
  font-size: 11px;
  line-height: 1.4;
  padding-top: 12px;
  min-width: 90%;
}