:root {
  --title-color: #2d2f2f;
  --active-color: #8d4a00;
  --text-color: #5a5c5c;
  --hero-bg: radial-gradient(
    85.61% 61.6% at 50% 50%,
    rgba(253, 211, 77, 0.15) 0%,
    rgba(253, 211, 77, 0) 70%
  );
  --accent-color: #fdd34d;
  --main-color: #fff;
  --body-bg: #f7f3e8;
  --btn-txt: #FFF0E7

}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--body-bg);
  color: var(--title-color);
}

.container {
  width: 1212px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--title-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -1.2px;
}

.header-list{
    display: flex;
    gap: 40px;
}

.header-link {
color: var(--text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.42;
letter-spacing: -0.35px;
text-transform: uppercase;
}

.header-link:hover,
.header-link:focus{
    color: var(--active-color);
}

.header-link::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--active-color);
}

.header-button {
color: var(--btn-txt);
text-align: center;
font-size: 12px;
font-weight: 700;
line-height: 1.33;
letter-spacing: 1.2px;
text-transform: uppercase;
border-radius: 9999px;
background: var(--active-color);
padding: 12px 32px;

}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(--hero-bg);
}